@import "./Columns.less";
@import "./Card.less";

body {
  margin: 0;
  background-color: rgb(193, 162, 123);
  display: flex;
  font-family: "Montserrat", sans-serif;
  scrollbar-width: auto;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.kanban-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
}

.add-column-button {
  font-size: 24px;
  color: #ffffff;
  background-color: transparent;
  border: 1px #ffffff dashed;
  margin: 0px 30px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.add-column-button:hover {
  transform: translateY(-2px);
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(150, 150, 150, 0.6);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(120, 120, 120, 0.8);
}
